.header_wrap
    svg(id='headersvg')
        defs
            linearGradient(id='header_gradient' x1='0%' y1='0%' x2='0%' y2='95%')
                stop(offset='0%' style="stop-color:rgb(255,255,255);stop-opacity:1")
                stop(offset='90%' style="stop-color:rgb(255,255,255);stop-opacity:0")
        text(class='h1_svg' fill='url(#header_gradient)' x='0' y='80' id='headertext')
            | #{title}