doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1')

    title= title
    link(href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/main.css')
    include ./includes/favicon.jade
    script(src='/js/tools.js')
    script(src='/js/essential.js')
    script.
        var XS_WIDTH=#{config.screen_sizes.xs}
        var SD_WIDTH=#{config.screen_sizes.sd}
        var MD_WIDTH=#{config.screen_sizes.md}
        var HD_WIDTH=#{config.screen_sizes.hd}
        var XL_WIDTH=#{config.screen_sizes.xl}
  body.loading(onload='init()')
    block preload
    block content
    div.nav
        span {
    script(src='/js/section_scroller.js')
    script(src='/js/main.js')
    script
        | preinit()


