extends layout
block preload
    img.preloader(src='/photography/#{id}/xs/#{sections[0].images[0].img}')
block content
  article#main
    h1 #{title}
    include ./includes/headergradient.jade
    - each section in sections
        section(class = section.type=='type_0'?'#{section.type} loading':'#{section.type}')
            case section.type
                when 'type_0'
                    img(class='full dynamic_quality loading_filter' 
                        src='/photography/#{id}/xs/#{section.images[0].img}' 
                        alt='#{section.images[0].title}')
                    div.story_block.white_on_dark.diagonal_pattern
                        div
                        -each story in section.story_blocks
                            p #{story}
                when 'type_1'
                    img(class='full dynamic_quality' 
                        src='/photography/#{id}/xs/#{section.images[0].img}' 
                        alt='#{section.images[0].title}')
                    div.story_block.white_on_dark.diagonal_pattern
                        div
                        -each story in section.story_blocks
                            p #{story}
                when 'type_2'
                    div.left_section.one_image
                        img(
                        class='dynamic_quality'
                        src='/photography/#{id}/xs/#{section.images[0].img}?maxWidth=600}' 
                        alt='#{section.images[0].title}')
                    div.story_block.dark_on_white.diagonal_pattern
                        div
                        -each storyblock in section.story_blocks
                            p #{storyblock}
                when 'type_3'
                    div.diagonal_bg
                    div.container
                        iframe(class='youtube' src='https://www.youtube.com/embed/#{section.videos[0].reference}?rel=0&amp;showinfo=&enablejsapi=1' frameborder='0' allowFullScreen)
                        div.story_block.dark_on_white.diagonal_pattern
                            div
                            -each storyblock in section.story_blocks
                                p #{storyblock}
                when 'type_4'
                    img(class='full dynamic_quality' 
                        src='/photography/#{id}/xs/#{section.images[0].img}' 
                        alt='#{section.images[0].title}')
                    div.story_block.white_on_dark.diagonal_pattern
                        div
                        -each story in section.story_blocks
                            p #{story}
                when 'type_5'
                    div.right_section.two_image
                        img(
                        class='dynamic_quality'
                        src='/photography/#{id}/xs/#{section.images[0].img}?maxWidth=600' 
                        alt='#{section.images[0].title}')
                        img(
                        class='dynamic_quality'
                        src='/photography/#{id}/xs/#{section.images[1].img}?maxWidth=600' 
                        alt='#{section.images[1].title}')
                    div.story_block.dark_on_white.diagonal_pattern
                        div
                        -each storyblock in section.story_blocks
                            p #{storyblock}
                when 'type_6'
                    div.container
                        img(class='dynamic_quality' 
                            src='/photography/#{id}/xs/#{section.images[0].img}?maxWidth=600' 
                            alt='#{section.images[0].title}')
                        img(class='dynamic_quality' 
                            src='/photography/#{id}/xs/#{section.images[1].img}?maxWidth=600' 
                            alt='#{section.images[1].title}')
                        img(class='dynamic_quality' 
                            src='/photography/#{id}/xs/#{section.images[2].img}?maxWidth=600' 
                            alt='#{section.images[2].title}')
                    div.story_block.dark_on_white.diagonal_pattern
                        div
                        -each storyblock in section.story_blocks
                            p #{storyblock}
        - if(section == sections[0])
            img.preloader(id='first_image' onload='showFirstImage()')
            script.
                T.gid('first_image').src = '/photography/#{id}/'+getQualityRequirement()+'/#{sections[0].images[0].img}'
                    