*, *:before, *:after {
  box-sizing: border-box;
}

html,body,article{
    width:100%;
    height:100%;
}


body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
    /*overflow-y:hidden;*/
    font-size: 16px;
    line-height: 1.5;
}

body.loading{
    cursor:progress;
}

h1{
    position:absolute;
    top:-1000px;
    color:white;
    font-size:18px;
    font-weight:100;
}


iframe.youtube{
    margin:auto;
    display:block;
    width:100%;
    height:90%;
    position:absolute;
    top:0;
    left:0;
}

img{
    display:none;
}

.nav{
    border-radius:15px 0 0 15px;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    top:10px;
    right:0;
    z-index:2;
    color:white;
    font-size:18px;
    font-weight:bold;
    padding:8px;
}

.loading_filter{
    transition: 1.4s -webkit-filter linear;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}
section.loading .loading_filter{

    transition:none;
    -webkit-filter: blur(7px) brightness(1.4) opacity(0.5) saturate(0.5) invert(0.1);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

div.image_replacement{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.image_replacement{
    width:100%;
    height:100%;
}

svg{
    display:block;
    margin:0 auto;

}

#main{
    -webkit-transition: -webkit-transform 800ms ease; 
    -moz-transition: -moz-transform 800ms ease; 
    -ms-transition: -ms-transform 800ms ease; 
    transition: transform 800ms ease;
    /*position:fixed;*/
}

section{
    position:relative;
    overflow:hidden;
    width:100%;
    height:100%;
}


.header_wrap{
    width:100%;
    height:86px;
    position:absolute;
    top:7%;
    left:0;
    z-index:1;
}

.h1_svg{
    font-family: 'HelveticaNeue-UltraLight','Lato', sans-serif;
    font-size: 72px;
    font-weight: 100;
    color: #FFFFFF;
    letter-spacing: 12px;
    text-transform:uppercase;
    line-height: 86px;
    display:block;
}

.diagonal_pattern{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkYGD4z8DAwMiABcAEsSpA1oGhAN04FAXY7IIrwOoQmCNxSYLc/h8Av/wHB7uZHf4AAAAASUVORK5CYII=) repeat;
}


.story_block{
    transition:3s opacity;
    opacity:1;
    padding:35px;
    font-style: italic;
}


.story_block{
    position:absolute;
    width:40%;
}
.story_block div{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.story_block p{
    margin-bottom:1rem;
    position:relative;
}

.story_block p:last-child{
    margin:0;
}

.story_block.white_on_dark{
    color:rgba(255,255,255,1);
    
}

.story_block.white_on_dark div{
    background-color:rgba(0,0,0,0.6);
}

.story_block.dark_on_white{
    color:rgba(0,0,0,1);
}

.story_block.dark_on_white div{
    background-color:rgba(255,255,255,0.9);
}


.type_0 .story_block,
.type_1 .story_block{
    right:15px;
    bottom:0;
}

.type_2 .story_block,
.type_5 .story_block{
    top:80px;
    width:38%;
}

.type_2 .story_block{
    right:5%;
}


.type_6 .story_block,
.type_3 .story_block{
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height:10%;
    padding: 0 35px;
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    max-width: initial;
}

.type_6 .story_block p,
.type_3 .story_block p{
    margin:auto 0;
}
.type_3 .diagonal_bg{
    background: rgba(0,0,0,0.76);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.type_3 .container{
    width:95%;
    height:92%;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    position:relative;
}

.type_5 .story_block{
    left:5%;
}

.type_4 .story_block{
    top:15px;
    left:0;
}

.type_5 div.image_replacement:first-child{
    width:100%;
    height:47%;
    margin-bottom:5%;
}

.type_5 div.image_replacement:nth-child(2){
    width:100%;
    height:48%;
    float:right;
}

.type_6 div.image_replacement{
    width:calc(95%  /3);
    display:inline-block;
    height:100%;
}
.type_6 div.image_replacement:not(:last-child){
    margin-right:calc(5%/2);
}

.type_6 .container{
    background-color: #FCFCFC;
    border-bottom: 1px solid #EEEEEE;
    padding:35px;
    height:89%;
}

.type_6 .story_block{
    height:11%;
}



.full_size_container{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.loading .story_block {
    transition:none;
    opacity:0;
}


.diagonal_bg:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkYGD4z8DAwMiABcAEsSpA1oGhAN04FAXY7IIrwOoQmCNxSYLc/h8Av/wHB7uZHf4AAAAASUVORK5CYII=) repeat;

}


.right_section{
    border-left: 1px solid #EEEEEE;
    position:absolute;
    right:0;
}
.left_section{
    border-right: 1px solid #EEEEEE;
}

.right_section,
.left_section{
    background-color: #FCFCFC;
    width:55%;
    height:100%;
}

div.one_image{
    padding:35px;
    display:flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;

}
div.two_image{
    padding:35px;
}

@media (min-width: 1500px) {
    body{
        font-size:20px;
    }

}

@media (min-width: 2000px) {
    body{
        font-size:25px;
    }

}

@media (max-width: 600px) {
  .h1_svg{
    font-size:30px;
  }
}

@media screen and (max-width: 700px) , screen and (max-height: 600px){
    body{
        overflow-y:scroll !important;
        font-size:14px;
        background-color:#333;
    }

    #main{
        position:relative;
    }

    p{
        margin-bottom:14px;
    }

    section{
        height:initial !important;
        margin-bottom:10px;
    }

    .loading .loading_filter{
        transition: 1.4s -webkit-filter linear;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
    }

    .image_replacement{
        background-position:center !important;
    }

    .image_replacement:not(:first-child){
        display:none !important;
    }

    .left_section{
        width:100%;
        height:100%;
    }

    iframe.youtube,
    .right_section,
    .image_replacement{
        width:100% !important;
        height:500px !important;
        position:relative;
    }

    div.two_image,
    div.one_image{
        padding:0;
        display:block;
    }

    .type_3 .container{
        width:100%;
        height:100%;
        margin:0;
        top:initial;
        transform:initial;
        -webkit-transform:initial;
    }

    .type_3 .story_block{
        padding:35px;
    }

    .type_6 .container{
        padding:0;
    }

    .story_block{
        display:block !important;
        padding:35px !important;
        position:relative !important;
        opacity:1 !important;
        height:initial !important;
        min-height:40% !important;
        width:100% !important;
        top:initial !important;
        bottom:0 !important;
        right:initial !important;
        left:initial !important;
    }

    .h1_svg{
        font-size:40px;
    }

    .header_wrap{
        top:0;
    }
}
@media (max-width: 550px) {
    .h1_svg{
        display:none;
    }

    h1{
        text-transform: uppercase;
        z-index:1;
        width:100%;
        position:absolute;
        top:20px;
        opacity:0.5;
        font-size:30px;
        text-align: center;
        letter-spacing:5px;
    }

    .header_wrap{
        top:0;
    }
}
            
            
            